* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: sans-serif;
}

.container-app {
  display: grid;
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
}

.container-header {
  display: grid;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  height: 250px;
  margin-top: 10px;
}

.charactergrid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  row-gap: 15px;
}

.card {
  position: relative;
  width: 260px;
  height: 400px;
}
.card__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.card__text {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.658);
  color: white;
  opacity: 0;
  text-align: center;
  padding: 20px;
  transition: 0.5s ease;
}
.card__text ul {
  list-style-type: none;
}
.card__text ul li {
  padding-bottom: 10px;
}

.card:hover .card__text {
  opacity: 1;
}

.quote {
  display: grid;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  color: white;
}
.quote__author {
  margin-top: 20px;
}
.quote__btn-quote {
  margin-top: 30px;
  background-color: #29603a;
  font-size: large;
  color: white;
  width: 100px;
  border-radius: 10px;
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5px;
  padding-left: 40px;
}
.links__link {
  margin-top: 30px;
  background-color: #29603a;
  color: white;
  width: 100px;
  text-decoration: none;
  border-radius: 5px;
}

.links__link:hover, .btn-quote:hover {
  background-color: #519667;
}

@media (min-width: 800px) {
  .charactergrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1000px) {
  .charactergrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
